@import "tailwindcss";

:root {
  /* Colors */
  --color-bg: #ffffff;
  --color-surface: #161616;
  --color-border: #0097b2;
  --color-text: #0097b2;
  --color-text-muted: #666666;
  --color-accent: #006577;

  /* Fonts */
  /* Il browser legge il valore di quella variabile CSS, che Next.js ha già impostato correttamente con il font caricato. */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 22px;
  --text-2xl: 24px;
  --text-3xl: 32px;

  /* Spacing */
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 48px;
  --space-2xl: 64px;
  --space-3xl: 96px;
  --space-4xl: 128px;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-full: 9999px;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg);
    --foreground: var(--color-text);
  } 
}*/

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}

body a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

@layer components {
  .layout {
    @apply max-w-[1200px] mx-auto px-4;
  }
}