@import "tailwindcss";

:root {
  /* Colors */
  --color-bg: #faf6e9;
  --color-primary: #385170;
  --color-primary-light: #38517036;
  --color-primary-dark: #142d4c;
  --color-secondary: #7b7b7b;
  --color-tertiary: #f8f8f8;


  /* Fonts */
  /* Il browser legge il valore di quella variabile CSS, che Next.js ha già impostato correttamente con il font caricato. */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 22px;
  --text-2xl: 24px;
  --text-3xl: 32px;

  /* Spacing */
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 48px;
  --space-2xl: 64px;
  --space-3xl: 96px;
  --space-4xl: 128px;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-full: 9999px;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg);
    --foreground: var(--color-text);
  } 
}*/

body {
  background: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-sans);
}

body a:hover {
  /* color: var(--color-accent); */
  text-decoration: none;
}

header {
  background-color: var(--color-bg);
  color: var(--color-primary);
  z-index: 9999;
  border-bottom: 1px solid var(--color-primary-light);
}

h2 {
  text-align: center;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-radius: 8px;
  padding: 12px 24px;
}

/* .btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
} */

.btn-secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 12px 24px;
}

.btn-secondary:hover {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.card {
  background-color: var(--color-bg);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 200px
}

footer {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

@layer components {
  .layout {
    @apply max-w-[1200px] mx-auto px-4;
  }
}